*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    
    background-image: linear-gradient(to bottom, rgb(24, 9, 47), rgb(7, 7, 31));
    /* background-repeat: no-repeat;
    background-attachment: fixed; */
    color: white;
}
.heading{
    text-align: center;
    margin: 1em 0 0 0;
    font-size: 2.7rem;
    /* display: none; */
    /* background-color: aqua; */
}

.bigFont{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.smallFont{
    font-size: 1.7rem;
    /* margin: .2em; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.img-container{
    /* background-color: black; */
    width: 100%;
    /* margin: .5rem 0; */
    padding: 1em 0;
    text-align: center;
}

.image{
    width: 60%;
    /* min-height: 300px; */
    /* max-width: 200px; */
    border-radius: 5%;
    box-shadow: .1em .1em 1em rgb(89, 0, 255);
}

.guess-container{
    /* background-color: purple; */
    padding: 1em 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.hint{
    color: grey;
    margin-bottom: 1em;
    text-align: center;
    width: 50%;
}
.user-guess{
    background-color: transparent;
    border: 0;
    margin-bottom: 1em;
    /* margin: .5em 0; */
    padding: .3em 0;
    border-bottom: .1em solid rgb(89, 0, 255);
    text-align: center;
    color: white;
    
}
.user-guess:focus{
    background-color: rgba(0, 0, 0, 0.264);
    border-bottom: .1em solid transparent;
    outline: .1em solid rgb(89, 0, 255);
    border-radius: .2em;
}

.buttons{
    /* background-color: aqua; */
    /* margin: 1em 0; */
    padding: .3em .3em;
    width: 100%;
    /* max-width: 500px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn{
    font-size: 1.3rem; 
    padding: .5em .7em;
    border-radius: .3em;
    color: white;
    margin: .5em 0;
    background-color: rgb(79, 18, 193);
    border: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: .1s ease-in-out;
}
.btn:hover {
    background-color: rgb(84, 19, 205);
    cursor:pointer;
    box-shadow: .1em .1em .5em rgb(89, 0, 255);
}
.btn:active{
    background-color: rgb(42, 11, 98);
    color: rgb(193, 191, 191);
    cursor:pointer;
}

.results{
    /* background-color: aqua; */
    width: 100%;
    /* max-width: 500px; */
    display: flex;
    padding: .5em 1em;
    justify-content: space-around;
    align-items: center;
}

.name-container{
    /* background-color: black; */
    text-align: center;
    border-top: solid 5px rgb(89, 0, 255);
    padding: 1em 0;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.name-heading{
    font-size: 2rem;
    margin: .5em 0;
    /* background-color: aqua; */
}
/* .name-list{
    background-color: blue;
} */
.name{
    margin: .2em 0;
}


@media (max-width: 400px){
    .buttons, .results{
        flex-direction: column;
    }
    .smallFont{
        margin: .2em 0;
    }
}

@media (min-width: 900px){
    .image{
        max-width: 15vmax;
    }
    
    .buttons, .results{
        max-width: 50vw;
    }
}